body{
    font-family: 'Franklin Gothic Medium', Courier, monospace;
}



.titulo{
    color: rgb(3, 22, 75);
    text-align:center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
    padding: 20px;
    background-color: #f87219;
    
}

.tabla{
    width: 80%;
    margin: 40%;
}
   body{
        color:blue ;
    }


